@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #77c0d8;
  --secondary-color: #dc3545;
  --color-text: #231942;
  --navbar-color: #ffffff;
  --navbar-color-text: #000000;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.changelog-content {
  line-height: 1.6;
}

.changelog-content h1,
.changelog-content h2,
.changelog-content h3,
.changelog-content h4,
.changelog-content h5,
.changelog-content h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.changelog-content ul,
.changelog-content ol {
  padding-left: 1.5em;
  margin-bottom: 1em;
}

.changelog-content li {
  margin-bottom: 0.5em;
  list-style: none;
  position: relative;
  padding-left: 1.2em;
}

.changelog-content li::before {
  content: '*';
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  left: 0;
  color: var(--primary-color);
}

.changelog-content p {
  margin-bottom: 1em;
}

/* loading */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid var(--primary-color);
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}