@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #77c0d8;
  --secondary-color: #dc3545;
  --color-text: #231942;
  --navbar-color: #ffffff;
  --navbar-color-text: #000000;
}

.feature-item {
  background-color: var(--navbar-color);
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.feature-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.feature-item h1 {
  font-size: 1.5rem;
  font-weight: bold;
}


/* footer */
.footer {
  margin-top: 50px;
  margin-bottom: 30px;
}
.footer a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: underline;
}

/* team page */
.team h1 a {
  color: var(--secondary-color);
  text-decoration: underline;
}

.dev-container {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 200ms ease-in-out;
}

.dev-container:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* changelog */
.changelog {
  background-color: var(--primary-color);
  --animate-delay: 0.5s;
}

/* download page */
.device-list .head {
  --animate-delay: 0.5s;
}

.device-list .brand {
  --animate-delay: 0.7s;
}

.device-list .divider {
  --animate-delay: 3s;
}

/* download page info */
.download-page .device {
  --animate-delay: 0.3s;
}

.download-page .grid {
  --animate-delay: 0.3s;
}

.download-page .ch {
  --animate-delay: 0.5s;
}

.download-page  h1 {
  font-weight: bold;
  color: var(--navbar-color-text);
  animation: fadeInUp;
  animation-duration: 2s;
  --animate-delay: 0.6s;
}
.download-page  ul {
  font-family: monospace;
  list-style-type: disc;
  padding-left: 20px;
  font-size: 1rem;
  animation: fadeInUp;
  animation-duration: 2s;
  --animate-delay: 0.7s;
}

/* loading */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid var(--secondary-color);
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}